//
// MASTHEAD
//

#masthead {
  background: 0% 50% url(/img/masthead.png) no-repeat;
  height: 128px;
  background-size: cover !important;
  border-bottom: none;
  .title {
    .sitename a {
      position: absolute;
      background: 0 0 url(/img/riseup.png) no-repeat;
      height: 41px;
      width: 160px;
      left: 40px;
      top: 40px;
      font-size: 0px;
      display: block;
    }
  }
}

span.black {
  color: #000;
  font-weight: bold;
}
span.red {
  color: #c00;
  font-weight: bold;
}
span.green {
  color: #090;
  font-weight: bold;
}

.account-colors {
  border: 3px solid white;
  outline: 1px solid #ccc;
  background: #eee;
  margin-top: 30px;
  padding: 30px;
  span.underline {
    font-size: 1.4em;
    display: block;
    padding: 4px 0;
    margin: 8px 0;
    font-weight: bold;
    &.black {
      border-bottom: 8px solid black;
    }
    &.red {
      border-bottom: 8px solid #c00;
    }
    &.green {
      border-bottom: 8px solid #090;
    }
  }
}

.black-login h2 {
  border-bottom: 8px solid black;
}
