.col-md-2
.col-md-8
  .black-login
    %h2=t :black_login
    = render 'warnings'
    = simple_form_for [:api, @session], validate: true, html: { id: :new_session, class: 'hidden js-show', style: "display:none;" } do |f|
      = f.input :login, :required => false, :label => t(:username), :input_html => { :id => :srp_username }
      = f.input :password, :required => false, :input_html => { :id => :srp_password }
      = f.button :wrapped, value: t(:login), cancel: home_path
  %p
    :markdown
      #{t(:other_accounts).html_safe}
