.overview

  %h2.first= t(".welcome", username: @user.login, cascade: true)

  - if admin?
    %p
      = t(:created)
      = @user.created_at
      %br
      = t(:updated)
      = @user.updated_at
      %br
      = t(:enabled)
      = @user.enabled?

  %p= t(:overview_intro, default: "")

  %ul.list-unstyled
    %li= icon('user') + link_to(t(".account"), edit_user_path(@user))


