- if twitter_enabled == true
  .col-md-8
    .row
      %h1= t(:welcome, :provider => APP_CONFIG[:domain])
      .p=t(:welcome_message_html)

    .row
      = home_page_buttons
    .row
      = render 'home/provider_message'

  .col-md-1

  .col-md-3
    .row
      = render 'twitter/index'
- else
  .row
    %h1= t(:welcome, :provider => APP_CONFIG[:domain])
    .p=t(:welcome_message_html)

  .row
    = home_page_buttons
  .row
    = render 'home/provider_message'
