.row-fluid
  %h1= t(:welcome, :provider => APP_CONFIG[:domain])
  %p These are our new security enhanced services. We currently support VPN with with more services coming soon.
  %p.alert.alert-info To access these services you will need the Bitmask application and a black.riseup.net account. These systems are not linked with the current riseup infrastructure . This means you will need to create a different account there. Don’t worry, all of our current usernames are ‘reserved’ and cannot be used on Black and you will be able to use your current username or the new one (if you want) later.

.row-fluid
  = home_page_buttons

  - if Rails.env == 'development'
    .row-fluid
      %hr
      %p
        =# link_to "make donation", new_payment_path if APP_CONFIG[:payment].present?

