.row-fluid
  %h1 Welcome to Riseup Black
  %p This is the home of the Riseup "Black" services, our new enhanced security VPN and (soon) Email. These services require the <a href="https://bitmask.net">Bitmask application</a>.
  %p.alert <strong>Important:</strong> To avoid possible issues, you will need to create a new account (this means a new username) to use the "Black" services. But don't fear, you will be later able to use your current username if you want.

.row-fluid
  = home_page_buttons


.account-colors
  .row-fluid
    .span12
      %p <b>What is going on here?</b> Riseup is in the process of adopting four types of accounts: <span class='black'>Black</span>, <span class='red'>Red</span>, List, and Wiki. Each type is separate from the others.
  .row-fluid
    .span4
      %span.black.underline Black
      %p Black accounts are used to access Riseup's new enhanced security services. These services require the <a href="https://bitmask.net">Bitmask application</a>. You can configure your Black account at <a href="https://black.riseup.net">black.riseup.net</a>.
    .span4
      %span.red.underline Red
      %p Red accounts are used for webmail, IMAP, XMPP, shell or OpenVPN. You can configure your Red account at <a href="https://account.riseup.net">account.riseup.net</a>.
    .span4
      %span.green.underline Other
      %p You can configure mailing list accounts at accounts <a href="https://lists.riseup.net">lists.riseup.net</a> and wiki accounts at <a href="https://we.riseup.net">we.riseup.net</a>.
