.home-buttons
  .row.second
    .login.col-md-6
      %span.link= btn icon('ok-sign') + t(:login), login_path
      %span.info= t(:login_info, default: "")
    - if APP_CONFIG[:allow_registration]
      .signup.col-md-6
        %span.link= btn icon('user') + t(:signup), signup_path
        %span.info= t(:signup_info, default: "")
    - else
      .signup.col-md-6