- if CommonLanguages.available.size > 1
  .locales.row
    .wrap-text
      = locales_links
- else
  .locales.row
.links.row
  .wrap-text
    = link_to icon('home') + t(:home), home_path
    = link_to icon('eye-close') + t(:privacy_policy), privacy_policy_path
    = link_to icon('file') + t(:terms_of_service), terms_of_service_path
    - if lookup_context.exists?('pages/about')
      = link_to icon('info-sign') + t(:about), about_path
    - if lookup_context.exists?('pages/contact')
      = link_to icon('comment') + t(:contact), contact_path
    - if paid_service_level?
      = link_to icon('shopping-cart') + t(:pricing), pricing_path
    =# link_to icon('barcode') + t(:Donations), new_payment_path if APP_CONFIG[:payment].present?
