%ul.nav.sidenav
  = link_to_navigation :overview, @user,
    active: (controller?(:users) && action?(:show))
  = link_to_navigation :account_settings, edit_user_path(@user),
    active: (controller?(:users) && !action?(:show))
  - unless admin?
    = link_to_navigation :logout, logout_path, method: :delete
